<nav id="nav" class="top-nav" role="navigation">
  <div class="menu-container">
    <a id="menu_icon" class="right"> <img class="icon" src="menu.png" onclick="toggleHeader();" > </a>
    {{link-to 'ZONEConvert' 'zones' class='logo left'}}
  </div>
  <ul>
    <li>{{link-to 'ZONEConvert' 'zones' class='logo'}}</li>
    <li> {{link-to 'Home' 'application'}} </li>
    <li class="right"> {{link-to 'About' 'about'}} </li>
    <!--<li> {{link-to '日本語' 'application' }} </li>-->
  </ul>
</nav>

  {{outlet}}

<div class="footer">
  <p> Copyright zoneconvert.com 2014 </p>
</div>

<script>
  function toggleHeader(){
        var menu_icon = Ember.$("#menu_icon");
        if (menu_icon.attr("href") === "#"){
          menu_icon.attr("href", "#nav");
          window.location = '#nav';
          console.log("Setting to #nav");
        }
        else {
          menu_icon.attr("href", "#");
          window.location = '#';
          console.log("Setting to #");
        }
      }
</script>
