Description:
{{input type="text" id="enter_desc" value=enterDesc placeholder="Food name"}}
Calories:
{{input type="text" id="enter_cals" value=enterCals placeholder="Number of Calories"}}
<button id="create_item" {{action "createItem"}}>
  Submit
</button>

<ul>
  {{#each item}}
  <li>Decription: {{desc}}, Calories: {{calories}}</li>
  {{/each}}
</ul>
