<div class="main-body">
  <div class="flash-notice" id="sandbox">
  </div>
  <form>
    <div class="local">
      <label>Your location:</label>
      {{input type="text" value=locationLocal name="location_local"}}
    </div>

    <div class="remote">
      <label>Remote location:</label>
      {{input type="text" value=locationRemote name="location_remote" id="locationRemote"}}

      <label>Remote time:</label>
      {{input type="text" value=timeRemote name="time_remote"}}

      <button {{action 'parseInput'}}>Submit</button>
    </div>

    <div class="result">
      <label>Your time:</label>
      {{input type="text" value=result name="result_time"}}
    </div>
  </form>

 {{#each}}
   <p> {{street}} </p>
 {{/each}}
</div>
